<div class="wrapper">
  <div class="container">
    <h1>Welcome to the longest word-game!</h1>
    <h2>Here is your grid:</h2>
    <h1 id="grid"><%= @grid %></h1>
    <% start_time = Time.now.to_i %>

    <form action="/score" method="post">
      <div class="form-guess">
        <div class="form-group">
          <div class="input-group">

            <input type="hidden" name="session" value=<%= session %>>
            <input type="hidden" name="time" value=<%= start_time %>>
            <input type="hidden" name="grid" value=<%= @grid.join %>>

            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input type="text" name="attempt" class="form-control" id="attempt" placeholder="What's your best shot?">

          </div>
        </div>
        <button type="submit" class="btn btn-primary">Let's try !</button>
      </div>
    </form>

  </div>
</div>


<!--
end_time = Time.now
 -->


