<h1>******** Now your result ********</h1>
<p>Your word: <%= @attempt %></p>
<p>Time taken to answer <%= @run_game[:time] %> seconds</p>
<p>Your score: <%= @run_game[:score] %></p>
<p>Your score: <%= @run_game[:message] %></p>
<p>Your session: <%= session %></p>

<%= link_to "home", root_path %>
